.botones {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  -webkit-transition: background 1s ease, color 1s ease;
  -o-transition: background 1s ease, color 1s ease;
  transition: background 1s ease, color 1s ease; }

.botones:hover {
  background-color: white;
  border: 2px solid white;
  color: #5d5d5d; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 16px; }

body {
  font-family: "Questrial", sans-serif;
  color: #5d5d5d; }

.nav-top {
  background-color: #8ad1ce;
  border-top: 8px solid #ca92c0;
  border-top-left-radius: 0px 0px;
  border-top-right-radius: 0px 0px;
  border-bottom-right-radius: 100% 40%;
  border-bottom-left-radius: 100% 40%;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0; }

.menuPrincipal ul {
  list-style-type: none;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.menuPrincipal ul li a {
  text-decoration: none;
  letter-spacing: 1px;
  padding: 1.5rem 2rem;
  font-size: 0.8rem;
  color: white;
  margin: 0px 1rem;
  color: white;
  background-color: #8ad1ce;
  font-weight: 300;
  -webkit-transition: background 1s ease, color 1s ease;
  -o-transition: background 1s ease, color 1s ease;
  transition: background 1s ease, color 1s ease;
  display: block; }

.menuPrincipal ul li a:hover {
  background-color: #cce9e9; }

.categoria {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .categoria .info {
    padding: 2rem;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2; }
    .categoria .info h2 {
      font-family: "Shadows Into Light", cursive;
      font-size: 4rem; }
      .categoria .info h2 span {
        display: block;
        font-family: "Questrial", sans-serif;
        font-size: 1.5rem;
        line-height: 5px; }
    .categoria .info p {
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 1rem 0;
      width: 80%; }
  .categoria .imagenes {
    padding: 2rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: red; }
    .categoria .imagenes img {
      max-width: 400px;
      background-color: blue; }

.alimentacion {
  background-color: #e6e890; }
