.menu-derecha .boton_principal {
  padding: 30px !important;
  border-bottom: 8px solid #55156d;
  -webkit-transition: background 1s ease, border 1s ease;
  -o-transition: background 1s ease, border 1s ease;
  transition: background 1s ease, border 1s ease; }

.menu-derecha .boton_principal:hover, .menu-derecha .boton_principal:focus {
  background-color: #332c2e !important;
  border-bottom-color: #8222af !important;
  outline: none; }

.botones {
  background-color: #55156d;
  color: white;
  border: 0px; }

.botones:hover {
  background-color: #222123;
  color: white;
  border: 0px; }

body {
  font-family: "Raleway", sans-serif; }

.logo {
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
  letter-spacing: 8px;
  font-size: 30px;
  text-align: center;
  padding: 30px 0px 30px 30px;
  line-height: 2.4rem; }

.logo span {
  font-size: 1rem;
  display: block;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 300; }

header .menu-superior {
  background-color: #222123;
  border: none;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px; }

h2.titiulo-caption {
  font-family: "Dancing Script", cursive;
  font-size: 5rem; }

.row-categorias {
  padding: 8rem 0rem;
  background-color: #eeeeee; }

.box-categorias, .modal-contacto {
  padding: 3rem;
  border-radius: 0px;
  border: 0px;
  border-top: 8px solid #55156d; }

.box-categorias .titulos, .modal-contacto .titulos {
  text-align: center; }

.titulos {
  color: #55156d;
  font-size: 2.2rem;
  letter-spacing: 5px; }

.modal-contacto {
  text-align: left; }

footer {
  background-color: #222123;
  padding: 3rem;
  color: #eeeeee; }

.copyright {
  text-align: right;
  font-size: 1.1rem; }

.rrss {
  text-align: left; }

footer a {
  margin-right: 10px; }

footer .fa-facebook-square {
  color: #4267b2; }

footer .fa-twitter-square {
  color: #1da1f2; }

footer .fa-youtube-square {
  color: #cc181e; }
