$tipo-script: 'Dancing Script', cursive;
$tipo-textos: 'Raleway', sans-serif;
$violeta: #55156d;
$violeta-hover:#8222af;
$gris-oscuro: #222123;
$gris-medio: #332c2e;
$gris-claro: #eeeeee;
$color-facebook: #4267b2;
$color-twitter:#1da1f2;
$color-youtube:#cc181e;
