$tipo-script-cursiva: 'Dancing Script', cursive;
$tipo-script-imprenta: 'Shadows Into Light', cursive;
$tipo-textos: 'Questrial', sans-serif;

$lila: #ca92c0;
$lila-claro: #e8bcd8;

$aguamarina:#8ad1ce;
$aguamarina-claro:#cce9e9;

$limon: #e6e890;
$limon-claro: #f8f6c8;

$negro: #353434;
$claro: #fbfcdb;



$color-facebook:#4267b2;
$color-twitter:#1da1f2;
$color-youtube:#cc181e;
