@import "variables";
@import "botones";


* {box-sizing: border-box; margin: 0; padding: 0;}
html {font-size: 16px;}
body {font-family: $tipo-textos; color: #5d5d5d;}

.nav-top {
  background-color: $aguamarina;
  border-top: 8px solid $lila;
  border-top-left-radius: 0px 0px;
  border-top-right-radius: 0px 0px;
  border-bottom-right-radius: 100% 40%;
  border-bottom-left-radius: 100% 40%;

    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;

}


.menuPrincipal ul {
  list-style-type:none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

}

.menuPrincipal ul li a {
  text-decoration: none;
  letter-spacing: 1px;
  padding: 1.5rem 2rem;
  font-size: 0.8rem;
  color:white;
  margin:0px 1rem;
  color: white;
  background-color:$aguamarina;
  font-weight: 300;
  transition: background 1s ease, color 1s ease;
  display: block;
}

.menuPrincipal ul li a:hover {
  background-color: $aguamarina-claro;
}



.categoria {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

      .info {
        padding: 2rem;
        flex-grow: 2;

            h2 {
                font-family: $tipo-script-imprenta;
                font-size: 4rem;

                    span { display: block;
                           font-family: $tipo-textos;
                           font-size: 1.5rem;
                           line-height: 5px;
                    }
            }

            p {
              font-size: 1rem;
              line-height: 1.5rem;
              padding: 1rem 0;
              width: 80%;
            }
      }

      .imagenes {
        padding: 2rem;
        flex-grow: 1;
        background-color: red;

          img {max-width: 400px; background-color: blue;}
      }
}




.alimentacion {
  background-color: $limon;
}
